.fridge-page{
    padding: 3% 10% 0% 10%;
  
}
.page-title{
    border-bottom: 1px solid black;
    padding-bottom: 2%;
    font-weight: bold;
    color: #BA9291;
}
.checkbox-style{
    float :right;
}
.search-button{
    margin-top: 3% 0%;
    border: 2px solid #BA9291;
}

#recipes{
    margin-top: 3%;
}
.icon{
    max-width: 5%;
    max-height: 5%;
    cursor: pointer;
    margin-left: 5%; 
}

.account-recipe-item {
    margin: 3%;
}